{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <section class="containerLogin">
        <div class="login">
            <h1>Se connecter</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <button class="btn btn-lg btn-primary loginBtn" type="submit">
                Se connecter
            </button>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </div>
    </section>
</form>


    <style>
        .containerLogin{
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FAFAFA;
        }

        .login{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 350px;
            height: 350px;
            background: white;
            border: 2px solid #ff4269;
            border-radius: 0 15px 0 15px;
            margin: auto;
            color: #ff4269;
            flex-direction: column;
        }
        .login h1{
            font-size: 30px;
            margin: 10px 0;

            font-family: 'Red Hat Text', sans-serif;
        }

        .login input{
            width: 70%;
        }

        .loginBtn{
            margin-top: 30px;
            background: #ff4269;
            border: none;
        }

        label{
            padding: 7px;
        }
    </style>

{% endblock %}


